.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.card:hover {
	cursor: pointer;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  color: #000000;
  padding: 24px 29px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__like-button {
  min-width: 21px;
  height: 18px;
  background: transparent url("../images/heart.svg") center no-repeat;
  border: 0 solid white;
  transition: opacity 1s;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__like-button-active {
	background: transparent url("../images/active.svg");
	opacity: 1;
}

.card__title {
  font-family: Inter, Arial, san-serif;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__delete-image {
  /*background: transparent url("../images/delete.svg");*/
  color: #FFFFFF;
  position: absolute;
  height: 19px;
  width: 18px;
  border: none;
  margin: 18px 0 0 249px ;
  transition: opacity 1s;
}

.card__delete-image:hover {
  cursor: pointer;
  opacity: 0.5;
}
