.header {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	color: #FFFFFF;
	max-width: 880px;
	max-height: 74px;
	margin:45px auto 0 auto;
	box-sizing: border-box;
	border-bottom: 3px solid #545454;
}

.header__image {
	width: 173px;
	height: 33px;
	margin: 0 701px 41px 0;
	box-sizing: border-box;
}


@media screen and (max-width: 330px){
	.header__image{
		margin: 0 167px 32px 27px;
	}
}

@media screen and (max-width: 770px){
	.header__image{
		margin: 0 167px 32px 27px;
	}
}