.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	padding: 0 19px;
	top: 0;
	left: 0;
	right:0;
	bottom:0;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
	visibility: hidden;
	opacity: 0;
	transition: visibility 0.25s, opacity 0.25s linear;
}

.modal_opened {
	visibility: visible;
	opacity: 1;
}

.modal__container {
	position: relative;
	border-radius: 10px;
	background-color: #FFFFFF;
}

.modal__form {
	display: flex;
	flex-direction: column;
	
}

.modal__title {
	width: 330px;
	height: 23px;
	font-family: Inter, Arial, san-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 900;
	line-height: 29px;
	color: #000000;
	margin: 34px 28px 54px 36px;
}

.modal__field {
	padding: 0;
	margin: 29px 36px 0 36px;
	border: none;
	border-bottom: 1px solid #000000;
}

.modal__error {
	font-family: "Inter", Arial, sans-serif;
	color: #ff0000;
	font-size: 12px;
	max-width: 358px;
	/* this becomes the bottom margin for the input  */
	min-height: 30px;
	display: block;
	margin-left: 36px;
	font-size: 12px;
	color: red;
}

.modal__button:disabled {
  color: #000000;
  border: 2px solid rgba(0, 0, 0, 0.2);
  opacity: 0.2;
  background-color: #ffffff;
}

.modal__save-button {
	padding: 0;
    margin: 48px 36px 36px 36px;
    width: 358px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    border-radius: 2px;
    border: none;	
	transition: opacity 0.6s;
}

.modal__save-button:hover:not(:disabled) {
	cursor: pointer;
	opacity: 0.6;
}

.modal__close-button {
	width: 40px;
	height: 40px;
	bottom: calc(100% + 5px);
	left: calc(100% + 5px);
	position: absolute;
	background: url("../images/modal_close-button.svg");
	background-repeat: no-repeat;
	background-size: contain;
	border: none;
	transition: opacity 0.6s;
}

.modal__close-button:hover {
	cursor: pointer;
	opacity: 0.6;
}

.modal__image-preview {
	max-width: 75vw;
	max-height: 75vh;
	object-fit: cover;
	
}

.modal__preview-container {
	position: relative;
}

.modal__image-title {
	font-family: Inter, Arial, Helvetica, sans-serif;
	word-wrap: break-word;
	font-size: 12px;
	font-weight: 400;
	color: white;
}

.modal-delete-button {
    position: relative;
    width: 358px;
    height: 50px;
    background: #000;
    color: #ffffff;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 21.78px;
    margin-top: unset;
    margin-bottom: 0;
  }

.modal-delete-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.modal_delete-card-heading {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}





@media screen and (max-width: 560px) {
	
	.modal__container {
		max-width: 282px;
		/*height: 322px;*/
		border: 1px solid #000000;
	}
	
	.modal__save-button {
		width: 238px;
		height: 46px;
		margin: 45px 22px 25px 22px;		
	}
	
	.modal__field {
		width: 238px;
		height: 27px;
		margin: 30px 22px 0 22px;
	}
	
	.modal__title {
		width: 238px;
		height: 22px;
		margin: 34px auto;
		font-size: 18px;
		line-height: 22px;
	}
	
	.modal__close-button {
		width: 26px;
		height: 26px;
		bottom: calc(100% + 15px);
		left: calc(100% - 30px);
		transform: rotate(90deg);
	}
	/*image preview*/
	.modal__preview-container {
		position: relative;
		width: 240px;
		height: 299px;
		/*top: 136px;
		left: 40px;*/
		margin:0 40px 0 40px;
	}
	
	.modal__image-preview {
		width: 240px;
		height: 299px;
		top: 136px;
		left: 40px;
		
	}
	
	
}/*end 550px*/
